<body style="background-color: unset;">
<div style="background-color:#000000; top:0;left:0; position:absolute; width:100%">
    <div style="position: relative; width:100%; height:45px">
        
    </div>
    <div style="margin:0 auto;border-radius:8px; background-color:#002650;width:600px; background-image:url(image/background-lg.3IIEs.jpg); background-repeat: no-repeat; background-position:top center;">
        <div>
            <img style="width: 180px;margin:0 auto;padding:40px; display:block; position:relative" src="https://ci4.googleusercontent.com/proxy/0eXQgL64CuXFuxTc1rZIVDKsF6QiD13w6VO8lDdc1u7_1uR1VNsTj6CswERVT1a3-rZcpKf-Hu0NrWMykKg_7-H8gF4wAcXDgF7Co-4jNTf7GIiR-xS7I9i86V7m=s0-d-e1-ft#http://media.blizzard.com/emails/global/battlenet/logo-blizzard-header.gif" alt="image-icon">
        </div>
        <div>
            <div>
                <hr / style="margin: 5px 45px !important; border-color: hsla(0,0%,100%,.1) !important; padding: 20px auto !important;">
            </div>
            <div style="padding: 30px 50px 30px 50px;">
                <p style="margin-bottom: 0.8rem; font-size:1.5rem; color:#fff; margin-top: 0;">Here’s your activate code:</p>
                <p style="color:#3ed500; margin-bottom: 0.8rem; margin-top: 0; font-size:1.5rem">{{code}}</p>
                <p style="color:#bbbbbb; font-size:0.9rem; margin-bottom:8px; margin-top:8px">Hello {{user.fullName}}!</p>
                <p style="color:#bbbbbb; font-size:0.9rem; margin-bottom:8px; margin-top:8px ">We’ve completed your transaction on our store. Thank you for purchasing our product. ❤❤❤</p>
                <p><i style="color:#bbbbbb; font-size:0.9rem; margin-bottom:8px; margin-top:8px"><b style="color:#fff">Note:</b>  Do not share the given code in order to anyone !!!</i></p>
                <p style="color:#bbbbbb; font-size:0.9rem; margin-bottom:8px; margin-top:8px">Enjoy your adventures! <br />Blizzard Entertainment</p>
            </div>          
        </div>

    </div>
    <div style="position: relative; width:100%; height:45px">  
    </div>
</div>
</body>