<footer>
    <div class="footer-blizzard container d-flex flex-column align-item-center p-4">
        <div class="row row-language">
            <a href="#">
                <i style="color: #00aeff" class="fas fa-globe-asia"></i> English (US)
            </a>
        </div>
        <div class="row row-logo-blizzard"><a href="index.html"><img src="/image/blizzard-entertainment.svg" alt="blizzard-logo-footer"></a></div>
        <div class="row row-about">
            <a class="col-sm text-center" href="#">CAREERS</a>
            <a class="col-sm text-center" href="#">ABOUT US</a>
            <a class="col-sm text-center" href="#">SUPPORT</a>
            <a class="col-sm text-center" href="#">CONTACT US</a>
            <a class="col-sm text-center" href="#">PRESS</a>
            <a class="col-sm text-center" href="#">API</a>
            <a class="col-sm text-center" href="#">SITE MAP</a>
        </div>
        <div class="row row-application">
            All games, one app: 
            <a href="#">
                <span class="d-inline-block">
                    <i class="fab fa-battle-net" style="color: #00aeff;"> Battle.net desktop app</i>
                </span>
            </a>
        </div>
        <div class="row row-license d-flex flex-column ">
            <p>&copy 2021 BLIZZARD ENTERTAINMENT, INC. ALL RIGHTS RESERVED.</p>
            <p>All trademarks referenced herein are the properties of their respective owners.</p>
            <p class="d-flex justify-content-center ">
                <a class="p-2" href="#">PRIVACY</a>
                <a class="p-2" href="#">LEGAL</a> 
                <a class="p-2" href="#">TERMS</a>
                <a class="p-2" href="#">COOKIES</a>   
            </p>
        </div>
    </div>
</footer>